<div class="container home-page">
    <div class="row carousel">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol id="indicators" class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="https://cdn.pbrd.co/images/FM0r8ArdA.png" alt="First slide">
                    <!-- Static Header -->
                    <a href="#/shop">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h2>
                                    <span class="kreonLight">SNOWBOARD & SKI GADJETS</span>
                                </h2>
                                <br>
                                <h4>
                                    <span class="text-left droidSansRegular">In order to provide the most comprehensive product lists on the web our editors test products, read reviews, and thoroughly do their research to ensure all products are quality and highly recommended.</span>
                                </h4>
                                <h6 class="kreonRegular">Read More</h6>
                            </div>
                        </div>
                    </a>
                    <!-- /header-text -->
                </div>
                <div class="item">
                    <img class="img-responsive" src="https://cdn.pbrd.co/images/LfSBEXC2o.png" alt="Second slide">
                    <!-- Static Header -->
                    <a href="#/blog">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h2>
                                    <span class="kreonLight">LATEST NEWS AND TOPICS</span>
                                </h2>
                                <br>
                                <h4>
                                    <span class="text-left droidSansRegular">AMAZING SALES BLOG is a free snowboard enthusiast forum. Learn to snowboard,find out where and how, share your thoughts and experience, trade tips, and exchange photos and memmories on our blog for Snowboarders & Skiers and Fans.</span>
                                </h4>
                                <h6 class="kreonRegular">Read More</h6>
                            </div>
                        </div>
                    </a>
                    <!-- /header-text -->
                </div>
                <div class="item">
                    <img class="img-responsive" src="https://cdn.pbrd.co/images/LfZllgLZe.jpg" alt="Third slide">
                    <!-- Static Header -->
                    <a href="/#/blog/threads">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h2>
                                    <span class="kreonLight">ALL ABOUT SNOWBOARDING </span>
                                </h2>
                                <br>
                                <h4>
                                    <span class="text-left droidSansRegular">OUR HOT TOPIC THIS WEEK: An introduction to snowboarding for beginners plus tutorials, trick guides, buying guides forsnowboarding equipment, and places to snowboard in many different countries.</span>
                                </h4>
                                <h6 class="kreonRegular">Read More</h6>
                            </div>
                        </div>
                    </a>
                    <!-- /header-text -->
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <img id="prev" src="./images/left-arrow.png" alt="left-arrow">
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <img id="next" src="./images/right-arrow.png" alt="right-arrow">
            </a>
        </div>
        <!-- /carousel -->
    </div>
    <div class="row company-heading">
        <div class="col-md-12">
            <hr>
            <h1 class="kreonLight">“Amazing Sales online shop and blog“</h1>
            <h5 class="kreonLight">Here you can buy and discuss all the best products and gadjets about snowboarding</h5>
            <hr>
        </div>
    </div>
    <div class="row recent-post">
        <div class="col-sm-4">
            <h3 class="text-left kreonLight">ZIPPO HAND WARMER</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/shop">
                        <img src="https://cdn.pbrd.co/images/FMTsaQ4PM.jpg" class="img-responsive" style="width:100%" alt="offer-name">
                    </a>
                </div>
            </div>
            <p class="text-left droidSansRegular">Perfect for when it gets cold out</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-left kreonLight">IMPROVE YOUR SKILLS</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/blog">
                        <img src="https://cdn.pbrd.co/images/FMT3JtISw.jpg" class="img-responsive" style="width:100%" alt="offer-name">
                    </a>
                </div>
            </div>
            <p class="text-left droidSansRegular">Tips form the bests</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-left kreonLight">BLOG RULES</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/blog/threads">
                        <img src="https://cdn.pbrd.co/images/pUmMpTIr.png" class="img-responsive" style="width:100%" alt="offer-name">
                    </a>
                </div>
            </div>
            <p class="text-left droidSansRegular">Check the rules</p>
        </div>
    </div>
    <div class="row blog-media-bar">
        <div class="col-sm-4 from-the-blog">
            <ul>
                <h3 class="text-left kreonLight">From The Blog</h3>
                <div>
                    {{#each first3Topics}}
                    <li class="text-left droidSansRegular"><a href="#/blog/threads/{{_id}}"><span>{{topicName}}</span></a></li>
                    {{/each}}
                </div>
                <div class="clearfix-div">
                    {{#each second3Topics}}
                    <li class="text-left droidSansRegular"><a href="#/blog/threads/{{_id}}"><span>{{topicName}}</span></a></li>
                    {{/each}}
                </div>
            </ul>
        </div>
        <div class="col-sm-8 media-bar">
            <h3 class="text-left kreonLight">Multi media bar</h3>
            <br>
            <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner" id="media-bar-hover-text">
                    <div class="item  active">
                        {{#each first6}}
                        <div class="col-sm-2 media-bar-img-div">
                            <span class="hidden media-bar-hidden-text georgiaItalic">{{topicShortDescription}}</span>
                            <a class="thumbnail" href="#/home">
                                <img alt="" src="{{topicImage}}">
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="item">
                        {{#each second6}}
                        <div class="col-sm-2 media-bar-img-div">
                            <span class="hidden media-bar-hidden-text georgiaItalic">{{topicShortDescription}}</span>
                            <a class="thumbnail" href="#/home">
                                <img alt="" src="{{topicImage}}">
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">
                    <img id="media-prev" src="./images/media-left-arrow.png" alt="left-arrow">
                </a>
                <a data-slide="next" href="#media" class="right carousel-control">
                    <img id="media-next" src="./images/media-right-arrow.png" alt="right-arrow">
                </a>
            </div>
        </div>
    </div>
</div>