<div class="container home-page">
    <div class="row carousel">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol id="indicators" class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="https://cdn.pbrd.co/images/FM0r8ArdA.png" alt="First slide">
                    <!-- Static Header -->
                    <a href="#/shop">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h2>
                                    <span>SNOWBOARD & SKI GADJETS</span>
                                </h2>
                                <br>
                                <h4>
                                    <span class="text-left">In order to provide the most comprehensive product lists on the web our editors test products, read reviews, and thoroughly do their research to ensure all products are quality and highly recommended.</span>
                                </h4>
                                <h6>Read More</h6>
                            </div>
                        </div>
                    </a>
                    <!-- /header-text -->
                </div>
                <div class="item">
                    <img class="img-responsive" src="https://cdn.pbrd.co/images/LfSBEXC2o.png" alt="Second slide">
                    <!-- Static Header -->
                    <a href="#/blog">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h2>
                                    <span>LATEST NEWS AND TOPICS</span>
                                </h2>
                                <br>
                                <h4>
                                    <span class="text-left">AMAZING SALES BLOG is a free snowboard enthusiast forum. Learn to snowboard,find out where and how, share your thoughts and experience, trade tips, and exchange photos and memmories on our blog for Snowboarders & Skiers and Fans.</span>
                                </h4>
                                <h6>Read More</h6>
                            </div>
                        </div>
                    </a>
                    <!-- /header-text -->
                </div>
                <div class="item">
                    <img class="img-responsive" src="https://cdn.pbrd.co/images/LfZllgLZe.jpg" alt="Third slide">
                    <!-- Static Header -->
                    <a href="/#/blog/threads">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12">
                                <h2>
                                    <span>ALL ABOUT SNOWBOARDING </span>
                                </h2>
                                <br>
                                <h4>
                                    <span class="text-left">OUR HOT TOPIC THIS WEEK: An introduction to snowboarding for beginners plus tutorials, trick guides, buying guides forsnowboarding equipment, and places to snowboard in many different countries.</span>
                                </h4>
                                <h6>Read More</h6>
                            </div>
                        </div>
                    </a>
                    <!-- /header-text -->
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <img id="prev" src="./images/left-arrow.png" alt="left-arrow">
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <img id="next" src="./images/right-arrow.png" alt="right-arrow">
            </a>
        </div>
        <!-- /carousel -->
    </div>
    <div class="row company-heading">
        <div class="col-md-12">
            <hr>
            <h1>“Amazing Sales online shop and blog“</h1>
            <h5>Here you can buy and discuss all the best products and gadjets about snowboarding</h5>
            <hr>
        </div>
    </div>
    <div class="row recent-post">
        <div class="col-sm-4">
            <h3 class="text-left">ZIPPO HAND WARMER</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/shop">
                        <img src="https://cdn.pbrd.co/images/FMTsaQ4PM.jpg" class="img-responsive" style="width:100%" alt="offer-name">
                    </a>
                </div>
            </div>
            <p class="text-left"><em>"Perfect for when it gets cold out"</em></p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-left">IMPROVE YOUR SKILLS</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/blog">
                        <img src="https://cdn.pbrd.co/images/FMT3JtISw.jpg" class="img-responsive" style="width:100%" alt="offer-name">
                    </a>
                </div>
            </div>
            <p class="text-left"><em>"Tips form the bests"</em></p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-left">BLOG RULES</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/blog/threads">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/12548928_10206686851429125_572339583333246578_n.jpg?oh=57f406449295bc539683debe90e33466&oe=595E0EAB" class="img-responsive" style="width:100%" alt="offer-name">
                        {{!--<img src="https://cdn.pbrd.co/images/pUmMpTIr.png" class="img-responsive" style="width:100%" alt="offer-name">--}}
                    </a>
                </div>
            </div>
            <p class="text-left"><em>"Check the rules"</em></p>
        </div>
    </div>
    <div class="row blog-media-bar">
        <div class="col-sm-4 from-the-blog">
            <ul>
                <h3 class="text-left">From The Blog</h3>
                <div>
                    {{#each first3Topics}}
                    <li class="text-left"><a href="#/blog/threads/{{_id}}"><span>{{topicName}}</span></a></li>
                    {{/each}}
                </div>
                <div class="clearfix-div">
                    {{#each second3Topics}}
                    <li class="text-left"><a href="#/blog/threads/{{_id}}"><span>{{topicName}}</span></a></li>
                    {{/each}}                    
                </div>
            </ul>
        </div>
        <div class="col-sm-8 media-bar">
            <h3 class="text-left">Multi media bar</h3>
            <br>
            <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                    <div class="item  active">
                        {{#each first6}}
                        <div class="col-sm-2 media-bar-img-div">
                            <a class="thumbnail" href="#/home">
                                <img alt="" src="{{topicImage}}">
                                <p class="hidden media-bar-hidden-text">{{topicShortDescription}}</p>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="item">
                        {{#each second6}}
                        <div class="col-sm-2 media-bar-img-div">
                            <a class="thumbnail" href="#/home">
                                <img alt="" src="{{topicImage}}">
                                <p class="hidden media-bar-hidden-text">{{topicImage}}</p>                                
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">
                    <img id="media-prev" src="./images/media-left-arrow.png" alt="left-arrow">
                </a>
                <a data-slide="next" href="#media" class="right carousel-control">
                    <img id="media-next" src="./images/media-right-arrow.png" alt="right-arrow">
                </a>
            </div>
        </div>
    </div>
</div>