{{#each products}}
<article id="{{_id}}" class="product">
    <div class="container">
        <div class="score"><a><span>{{@index}}</span></a></div>
        <h3 class="badge">
            <span class="ec">
            <i class="fa fa-check" aria-hidden="true" style="background: rgb(50, 146, 208); color:#8EC47F; "></i>{{name}}</span>
        </h3>
        <div class="inner">
            <div class="row">
                <div class="col-lg-5 col-xl-4">
                    <p class="product-title hidden-lg-up">
                        <a href="{{imageSource}}"
                            target="_blank">{{fullName}}</a>
                    </p>
                    <div class="image">
                        <div class="responsive-container">
                            <div class="dummy"></div>
                            <div class="img-container">
                                <img class="lazy" data-original="{{imageSource}}" alt="{{altDescription}}" src="{{imageSource}}" style="">
                            </div>
                        </div>
                        <div class="controllers">
                            <div class="l " data-fav="unfave" data-id="36770" data-user="0" data-anon="1486743847" data-items="18" data-sortorder="17"><label class="icon-heart-broken"><i class="fa fa-thumbs-down" aria-hidden="true" style="background: white; color: black;"   ></i></label></div>
                            <div class="m">
                                <small>Score</small>
                                <strong>{{score}}</strong>
                            </div>
                            <div class="r " data-fav="fave" data-id="36770" data-user="0" data-anon="1486743847" data-items="18" data-sortorder="17"><label class="icon-heart"><i class="fa fa-thumbs-up" aria-hidden="true" style="background: white; color: black;"></i></label></div>
                        </div>
                    </div>
                </div>
                <!-- .col- -->
                <div class="col-lg-7 col-xl-8">
                    <h2 class="product-title hidden-md-down">
                        <a href="{{linkToAmazon}}" class="see" data-fave="36770" target="_blank" onclick="ga('send', 'event', 'Article > List', 'Item > Title > Click', 'Nautica Voyage By Nautica For Men Eau De Toilette Spray');">{{fullName}}</a>
                    </h2>
                    <div class="sec">
                        <div class="row">
                            <div class="col-lg-6 col-lg-push-6 col-sm-12">
                                <div class="price-card">
                                    <div class="r">
                                        <div class="price">
                                            <strong>${{price}}</strong>
                                            <span class="sale">&nbsp;&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="r">
                                        <a href="{{linkToAmazon}}" class="see btn btn-info btn-block" target="_blank" data-fave="36770" onclick="ga('send', 'event', 'Article > List', 'Item > Buy Button > Click', 'Nautica Voyage By Nautica For Men Eau De Toilette Spray');"><i class="icon-right"></i>${{price}}&nbsp;at&nbsp;amazon.com</a>
                                    </div>
                                    <div class="r">
                                        <span class="states">
                            <i class="fa fa-tags" aria-hidden="true" style="background: white; color: #8EC47F;"></i> {{purchased}} Purchased • <a href="{{linkToAmazon}}">amazon.com</a>
                          </span>
                                    </div>
                                </div>
                                <!-- price-card -->
                            </div>
                            <div class="col-lg-6 col-lg-pull-6 col-sm-12">
                                <h4 id="heart-heading-h4"><i class="fa fa-heart" aria-hidden="true" style="background: white; color: #8EC47F"></i>Why People Love it</h4>
                                <ul id="check-icons">
                                    {{#each threeWords}}
                                    <li><i class="fa fa-check" aria-hidden="true" style="background: white; color: #8EC47F;padding-right:10px; margin-left:-25px;"></i>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .sec -->
                    <div class="sec">
                        <div class="line-title">
                            <div class="title">
                                <label class="pros active">Pros</label>
                                <label class="cons ">Cons</label>
                            </div>
                        </div>
                        <!-- .line-title -->
                        <div class="product-tabs">
                            <div class="product-tab tab-pros active">
                                <p>{{pros}}</p>
                            </div>
                            <!-- .product-tab -->
                            <div class="product-tab tab-cons">
                                <p>{{cons}}</p>
                            </div>
                            <!-- .product-tab -->
                        </div>
                        <!-- .product-tabs -->
                    </div>
                    <!-- .sec -->
                    <div class="sec">
                        <div class="line-title">
                            <div class="title">
                                <span>Details</span>
                            </div>
                        </div>
                        <!-- .line-title -->
                        <div class="product-description">
                            {{#each details}}
                            <p><strong>{{@key}}: </strong> {{this}}</p>
                            {{/each}}
                        </div>
                    </div>
                    <!-- .sec -->
                </div>
                <!-- .col- -->
            </div>
            <!-- .row -->
        </div>
        <!-- .inner -->
    </div>
    <!-- .container -->
</article>
{{/each}}