<div class="container blog-page">
    <ol class="breadcrumb">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/blog">Blog</a></li>
    </ol>
    <div class="row post-content"> 
        <section class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
            {{#threads}}
            <div>
                <h2 class="pull-left">{{topicName}}</h2>
                <h3 class="ask-question pull-right">
                    <button class="btn btn-default button-color button-new-post">
                        <span class="glyphicon glyphicon-plus"></span> New Post
                    </button>
                </h3>
                <div class="clearfix"></div>
                <div id="comment-reply" class="new-post-form hidden">
                    <div class="row">
                        <h1>Create New Post</h1>
                        <form id="comment-form-reset" class="col-sm-12">
                                <input type="text" id="name" name="Post Heading"  placeholder="Post Heading" class="new-post-heading" required>
                                <input type="text" id="email" name="Tags"  placeholder="Tags (space separated)" class="new-post-tags" required>
                                <textarea rows="3" id="description" name="Post description"  placeholder="Post description" required class="new-post-description"></textarea>                                
                                <a type="submit" class="btn btn-default pull-right submit-new-post">Submit</a>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="blog-posts">
                {{#each threads}}
                <li class="new-post-content">
                    <h3>
                        <a href="#/blog/threads/{{threadName}}">{{threadName}}</a>
                    </h3>
                    <div class="blog-post-details">
                        <img src="{{authorImage}}" alt="jon-doe" width="52" height="52"> <span class="blog-post-author">Posted by <a href="" class="posted-by">{{postedBy}}</a>
                            <date> {{threadDate}} </date> | {{comments.length}} Comments</span>
                    </div>
                    <article class="blog-post-summary">
                        {{threadDescription}}
                    </article>
                    <div class="blog-post-tags">
                        {{#each tag}}
                        <span class="label label-default">{{this}}</span> {{/each}}
                    </div>
                    <hr>
                </li>
                {{/each}}
            </ul>
            {{/threads}}
        </section>
        <aside class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
            <div class="col-lg-12  col-md-12 col-sm-4 col-xs-12">
                <ul>
                    <h3 class="text-left">From The Blog</h3>
                    <div>
                        <li class="text-left"><a href="#/blog/Snowboard tricks"><span>Snowboard tricks</span></a></li>
                        <li class="text-left"><a href="#/blog/How to hip jumps"><span>How to hip jumps</span></a></li>
                        <li class="text-left"><a href="#/blog/Advance skills"><span>Advance skills</span></a></li>
                        <li class="text-left"><a href="#/blog/Begginer starterpack"><span>Begginer starterpack</span></a></li>
                        <li class="text-left"><a href="#/blog/From zero to GoPro"><span>From zero to GoPro</span></a></li>
                        <li class="text-left"><a href="#/blog/Upcomming events"><span>Upcomming events</span></a></li>
                    </div>
                </ul>
            </div>
            <div class="col-lg-12  col-md-12 col-sm-4 col-xs-12">
                <ul>
                    <h3 class="text-left">Archives</h3>
                    <div>
                        <li class="text-left"><a href="#/blog/Avalanche makers"><span>Avalanche makers</span></a></li>
                        <li class="text-left"><a href="#/blog/Left alone"><span>Left alone</span></a></li>
                        <li class="text-left"><a href="#/blog/Starter pack"><span>Starter pack</span></a></li>
                        <li class="text-left"><a href="#/blog/New Year's Eve"><span>New Year's Eve</span></a></li>
                        <li class="text-left"><a href="#/blog/Ski or Snowboard"><span>Ski or Snowboard</span></a></li>
                    </div>
                </ul>
            </div>
            <div class="col-lg-12  col-md-12 col-sm-4 col-xs-12">
                <ul>
                    <h3 class="text-left">Recent Post</h3>
                    <div>
                        <li class="text-left"><a href="#/blog/Blog rules"><span>Blog rules</span></a></li>
                        <li class="text-left"><a href="#/blog/How to hip jumps"><span>How to hip jumps</span></a></li>
                        <li class="text-left"><a href="#/blog/Starter pack"><span>Starter pack</span></a></li>
                        <li class="text-left"><a href="#/blog/New Year's Eve"><span>New Year's Eve</span></a></li>
                        <li class="text-left"><a href="#/blog/Ski or Snowboard"><span>Ski or Snowboard</span></a></li>
                    </div>
                </ul>
            </div>
        </aside>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-offset-7 col-md-offset-7 col-sm-offset-6 col-xs-offset-5">
            <ul class="page-pagination">
                <li class="selected"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>
    </div>
</div>